[submodule "lib/timerizer"]
	path = lib/timerizer
	url = https://github.com/kylewlacy/timerizer.git
[submodule "lib/github-ds"]
	path = lib/github-ds
	url = https://github.com/github/github-ds.git
[submodule "lib/mini_cache"]
	path = lib/mini_cache
	url = https://github.com/djreimer/mini_cache
