[submodule "lib/timerizer"]
	path = lib/timerizer
	url = https://github.com/kylewlacy/timerizer.git
[submodule "lib/github-ds"]
	path = lib/github-ds
	url = https://github.com/github/github-ds.git
[submodule "lib/relative_time"]
	path = lib/relative_time
	url = https://github.com/davydovanton/relative_time.git
